cloudformation-stepfunctions.yaml
AWSTemplateFormatVersion: '2010-09-09'
Description: StripedShield Step Functions State Machine for Dispute Processing

Parameters:
  ServiceName:
    Type: String
    Default: chargeback-autopilot-stripe
  Stage:
    Type: String
    Default: prod

Resources:
  StepFunctionsExecutionRole:
    Type: AWS::IAM::Role
    Properties:
      AssumeRolePolicyDocument:
        Version: '2012-10-17'
        Statement:
          - Effect: Allow
            Principal:
              Service: states.amazonaws.com
            Action: sts:AssumeRole
      Policies:
        - PolicyName: StepFunctionsLambdaExecution
          PolicyDocument:
            Version: '2012-10-17'
            Statement:
              - Effect: Allow
                Action:
                  - lambda:InvokeFunction
                Resource:
                  - !Sub 'arn:aws:lambda:${AWS::Region}:${AWS::AccountId}:function:${ServiceName}-${Stage}-*'
              - Effect: Allow
                Action:
                  - logs:CreateLogGroup
                  - logs:CreateLogStream
                  - logs:PutLogEvents
                Resource: '*'

  DisputeProcessingStateMachine:
    Type: AWS::StepFunctions::StateMachine
    Properties:
      StateMachineName: !Sub '${ServiceName}-${Stage}-dispute-workflow'
      RoleArn: !GetAtt StepFunctionsExecutionRole.Arn
      DefinitionString: !Sub |
        {
          "Comment": "Automated dispute evidence collection and submission workflow",
          "StartAt": "GetDispute",
          "States": {
            "GetDispute": {
              "Type": "Task",
              "Resource": "arn:aws:states:::lambda:invoke",
              "Parameters": {
                "FunctionName": "${ServiceName}-${Stage}-getDispute",
                "Payload": {
                  "dispute_id.$": "$.dispute_id",
                  "merchant.$": "$.merchant"
                }
              },
              "ResultPath": "$.dispute",
              "Next": "CheckDisputeStatus",
              "Retry": [{
                "ErrorEquals": ["States.ALL"],
                "IntervalSeconds": 2,
                "MaxAttempts": 3,
                "BackoffRate": 2
              }],
              "Catch": [{
                "ErrorEquals": ["States.ALL"],
                "Next": "HandleError",
                "ResultPath": "$.error"
              }]
            },
            "CheckDisputeStatus": {
              "Type": "Choice",
              "Choices": [
                {
                  "Variable": "$.dispute.status",
                  "StringEquals": "needs_response",
                  "Next": "GetCharge"
                },
                {
                  "Variable": "$.dispute.status",
                  "StringEquals": "warning_needs_response",
                  "Next": "GetCharge"
                }
              ],
              "Default": "SkipProcessing"
            },
            "GetCharge": {
              "Type": "Task",
              "Resource": "arn:aws:states:::lambda:invoke",
              "Parameters": {
                "FunctionName": "${ServiceName}-${Stage}-getCharge",
                "Payload": {
                  "charge_id.$": "$.dispute.charge",
                  "merchant.$": "$.merchant"
                }
              },
              "ResultPath": "$.charge",
              "Next": "GetPaymentIntent",
              "Retry": [{
                "ErrorEquals": ["States.ALL"],
                "IntervalSeconds": 2,
                "MaxAttempts": 3,
                "BackoffRate": 2
              }]
            },
            "GetPaymentIntent": {
              "Type": "Task",
              "Resource": "arn:aws:states:::lambda:invoke",
              "Parameters": {
                "FunctionName": "${ServiceName}-${Stage}-getPaymentIntent",
                "Payload": {
                  "payment_intent_id.$": "$.dispute.payment_intent",
                  "merchant.$": "$.merchant"
                }
              },
              "ResultPath": "$.payment_intent",
              "Next": "BuildEvidence",
              "Catch": [{
                "ErrorEquals": ["Lambda.ServiceException"],
                "Next": "BuildEvidence",
                "ResultPath": "$.payment_intent_error"
              }]
            },
            "BuildEvidence": {
              "Type": "Task",
              "Resource": "arn:aws:states:::lambda:invoke",
              "Parameters": {
                "FunctionName": "${ServiceName}-${Stage}-buildEvidence",
                "Payload": {
                  "dispute.$": "$.dispute",
                  "charge.$": "$.charge",
                  "payment_intent.$": "$.payment_intent",
                  "merchant.$": "$.merchant"
                }
              },
              "ResultPath": "$.evidence_result",
              "Next": "StageEvidence",
              "Retry": [{
                "ErrorEquals": ["States.ALL"],
                "IntervalSeconds": 5,
                "MaxAttempts": 3,
                "BackoffRate": 2
              }]
            },
            "StageEvidence": {
              "Type": "Task",
              "Resource": "arn:aws:states:::lambda:invoke",
              "Parameters": {
                "FunctionName": "${ServiceName}-${Stage}-stripeStageEvidence",
                "Payload": {
                  "dispute.$": "$.dispute",
                  "evidence.$": "$.evidence_result.evidence",
                  "merchant.$": "$.merchant"
                }
              },
              "ResultPath": "$.stage_result",
              "Next": "SubmitEvidence"
            },
            "SubmitEvidence": {
              "Type": "Task",
              "Resource": "arn:aws:states:::lambda:invoke",
              "Parameters": {
                "FunctionName": "${ServiceName}-${Stage}-stripeSubmitEvidence",
                "Payload": {
                  "dispute.$": "$.dispute",
                  "merchant.$": "$.merchant"
                }
              },
              "End": true,
              "Catch": [{
                "ErrorEquals": ["States.ALL"],
                "Next": "HandleError",
                "ResultPath": "$.error"
              }]
            },
            "SkipProcessing": {
              "Type": "Pass",
              "Result": "Dispute not in actionable status",
              "End": true
            },
            "HandleError": {
              "Type": "Pass",
              "Result": "Error occurred during processing",
              "End": true
            }
          }
        }

Outputs:
  StateMachineArn:
    Description: ARN of the dispute processing state machine
    Value: !Ref DisputeProcessingStateMachine
    Export:
      Name: !Sub '${ServiceName}-${Stage}-state-machine-arn'
  
  StateMachineName:
    Description: Name of the dispute processing state machine
    Value: !GetAtt DisputeProcessingStateMachine.Name
    Export:
      Name: !Sub '${ServiceName}-${Stage}-state-machine-name'